.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.shadow-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.section-title {
	padding: 1.6em 0;
	font-size: 3.6rem;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

@media (min-width: 768px) {
	.section-title {
		padding: 1.6em 0;
		font-size: 5rem;
	}
}

@media (min-width: 1200px) {
	.section-title {
		padding: 2em 0;
	}
}
