.header {
	display: flex;
	align-items: center;
	height: 50vh;
	position: relative;
	top: 80px;
	background-image: url(/dist/img/header-small.jpg);
	background-position: center;
	background-size: cover;
	z-index: -1;

	&__text {
		color: #fff;
		padding: 0 3em;
	}

	&__name {
		margin-bottom: 0.4em;
		font-size: 2.4rem;
		font-weight: 200;
	}

	&__title {
		font-size: 2.8rem;
	}
}

@media (min-width: 768px) {
	.header {
		background-image: url(/dist/img/header-big.jpg);

		&__text {
			padding: 0 3em;
		}

		&__name {
			font-size: 3rem;
		}

		&__title {
			font-size: 3.6rem;
		}
	}
}
