.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	transition: background-color 0.3s;
	z-index: 100;

	// &--transparent {
	// 	background-color: rgba(255, 255, 255, 0.8);
	// }

	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 3em;
	}

	&__icon,
	.burger-btn {
		font-size: 3rem;
	}

	.burger-btn {
		padding: 0.4em;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 80px;
		right: 0;
		width: 100%;
		background-color: #fff;
		height: calc(100vh - 100px);
		transform: translateX(100%);
		transition: transform 0.3s;
		z-index: 100;

		&--active {
			transform: translateX(0);
		}
	}
	&__item {
		font-size: 3.4rem;
		margin: 1em;
	}
}

@media (min-width: 768px) {
	.nav {
		&__icon,
		.burger-btn {
			font-size: 5rem;
		}

		&__item {
			font-size: 5rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		overflow: hidden;
		.burger-btn {
			display: none;
		}

		&__list {
			flex-direction: row;
			position: static;
			width: auto;
			height: 80px;
			transform: translateX(0);
		}

		&__item {
			margin: 0;

			a {
				position: relative;
				padding: 2em 1em;
				font-size: 2rem;
				z-index: 100;
			}

			a::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0;
				width: 100%;
				background-color: #000;
				transition: height 0.3s, color 0.5s;
				z-index: -1;
			}

			a:hover {
				color: #fff;
			}

			a:hover::before {
				height: 100%;
			}
		}
	}
}
