.contact-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-boxes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 4em;

	.rodo {
		display: flex;
		align-items: flex-start;
		margin-bottom: 2em;

		&__text {
			padding: 0 1em;
			font-size: 1.2rem;

			span {
				text-decoration: underline;
			}
		}
	}

	h2 {
		font-size: 2.6rem;
		margin: 2em 0;
	}

	.control-buttons {
		display: flex;
		justify-content: space-evenly;

		button {
			position: relative;
			padding: 0.4em 0.8em;
			margin: 0 0.5em;
			font-size: 1.8rem;
			box-shadow: 0 0 5px #999;
			border-radius: 8px;
			overflow: hidden;
			width: 50%;
		}

		button::before {
			content: '';
			position: absolute;
			top: -20px;
			left: -130px;
			height: 160%;
			width: 100px;
			background-image: linear-gradient(
				-90deg,
				rgba(108, 108, 108, 0.3),
				rgba(0, 0, 0, 0)
			);
			transform: rotate(20deg);
			transition: left 0.6s;
		}

		button:hover::before {
			left: 120%;
		}

		.send {
			background-color: rgb(102, 239, 118);
			box-shadow: 0 0 5px rgb(102, 239, 118);
		}
	}

	.send-popup {
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		top: 200px;
		left: 50%;
		transform: translateX(-50%);
		padding: 2em;
		width: 90%;
		height: 200px;
		background-color: #fff;
		border: 2px solid #000;
		text-align: center;
		z-index: 100;

		.popup-info {
			font-size: 2.4rem;
			margin-bottom: 0.7em;
		}

		.close-btn {
			padding: 0.4em 0.8em;
			margin: 0 0.5em;
			font-size: 1.6rem;
			box-shadow: 0 0 5px #999;
			border-radius: 8px;
			overflow: hidden;
			width: 50%;
		}

		&--show {
			display: flex;
		}
	}

	iframe {
		width: 100%;
		margin-top: 4em;
	}
}

.form-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;

	label {
		margin-bottom: 0.4em;
		font-size: 1.4rem;
		color: rgb(49, 49, 49);
	}

	input,
	textarea {
		padding: 0.5em;
		border: 1px solid rgb(172, 171, 171);
		border-radius: 5px;
	}

	.error-text {
		margin-top: 0.3em;
		font-size: 1.2rem;
		color: rgb(237, 41, 41);
	}
}

// .form-box.error input, textarea {
// 	border: 1px solid rgb(239, 90, 90);
// 	background-color: rgb(230, 208, 208);
// }

@media (min-width: 768px) {
	.form-boxes {
		width: 600px;

		h2 {
			font-size: 4rem;
		}

		.rodo {
			padding: 2em 0;
			&__text {
				font-size: 1.4rem;
			}
		}

		.control-buttons {
			button {
				font-size: 2.4rem;
			}
		}
	}

	.form-box {
		label {
			font-size: 2rem;
		}

		input,
		textarea {
			padding: 0.8em;
		}
	}
}
