@use './src/sass/nav';
@use './src/sass/header';
@use './src/sass/main';
@use './src/sass/footer';
@use './src/sass/reset';
@use './src/sass/components';
@use './src/sass/colors';

html {
	scroll-padding-top: 60px;
}
