@use './src/sass/nav';
@use './src/sass/header';
@use './src/sass/main';
@use './src/sass/footer';
@use './src/sass/reset';
@use './src/sass/components';
@use './src/sass/colors';
@use './src/sass/contact';

// html {
// 	scroll-padding-top: 40px;
// }
