.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #999;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 100;
}
.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3em;
}
.nav__icon,
.nav .burger-btn {
  font-size: 3rem;
}
.nav .burger-btn {
  padding: 0.4em;
  z-index: 1000;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  height: calc(100vh - 100px);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 100;
}
.nav__list--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  font-size: 2.8rem;
  margin: 1em;
}

@media (min-width: 768px) {
  .nav__icon,
.nav .burger-btn {
    font-size: 4rem;
  }
  .nav__item a {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .nav {
    overflow: hidden;
  }
  .nav .burger-btn {
    display: none;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    width: auto;
    height: 80px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__item {
    margin: 0;
  }
  .nav__item a {
    position: relative;
    padding: 1.5em 1em;
    font-size: 2.2rem;
    z-index: 100;
    text-decoration: none;
  }
  .nav__item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #000;
    -webkit-transition: height 0.3s, color 0.5s;
    transition: height 0.3s, color 0.5s;
    z-index: -1;
  }
  .nav__item a:hover {
    color: #fff;
  }
  .nav__item a:hover::before {
    height: 100%;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  position: relative;
  top: 50px;
  margin-bottom: 80px;
  background-image: url(/dist/img/header-small.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.header__text {
  color: #fff;
  padding: 0 3em;
  z-index: 1;
}
.header__name {
  margin-bottom: 0.4em;
  font-size: 2.4rem;
  font-weight: 200;
}
.header__title {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  .header {
    background-image: url(/dist/img/header-big.jpg);
  }
  .header__text {
    padding: 0 3em;
  }
  .header__name {
    font-size: 3rem;
  }
  .header__title {
    font-size: 3.6rem;
  }
}
.main .about-us-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
  text-align: center;
}
.main .about-us-text h3 {
  font-size: 2.4rem;
  margin-bottom: 0.6em;
}
.main .about-us-text p {
  margin-bottom: 2em;
  font-size: 1.6rem;
}
.main .offer__text {
  margin-bottom: 2em;
  padding: 0 0.5em;
  font-size: 2rem;
  text-align: center;
}
.main .offer__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}
.main .offer__box {
  margin: 2em 0;
  padding: 4em;
  width: auto;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #999;
          box-shadow: 0 0 10px #999;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.main .offer__box-title {
  font-size: 2.6rem;
  margin-bottom: 0.2em;
  font-weight: 400;
}
.main .offer__box-price {
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 0.4em;
}
.main .offer__box-option {
  font-size: 1.6rem;
  margin-bottom: 0.3em;
}
.main .offer__box-option .fa-check {
  color: rgb(45, 193, 0);
}
.main .offer__box .muted {
  color: #999;
}
.main .offer__btn {
  position: relative;
  margin-top: 1em;
  padding: 0.4em 0;
  width: 100%;
  font-size: 2rem;
  -webkit-box-shadow: 0 0 5px #999;
          box-shadow: 0 0 5px #999;
  border-radius: 8px;
  overflow: hidden;
}
.main .offer__btn::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -130px;
  height: 160%;
  width: 100px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(108, 108, 108, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(-90deg, rgba(108, 108, 108, 0.3), rgba(0, 0, 0, 0));
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: left 0.6s;
  transition: left 0.6s;
}
.main .offer__btn:hover::before {
  left: 120%;
}
.main .offer__icon {
  margin-top: 2em;
  font-size: 4.2rem;
  text-align: center;
}
.main .offer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 0;
  text-align: center;
}
.main .offer__link {
  margin: 2em;
}
.main .offer__link p {
  margin-bottom: 0.8em;
  font-size: 1.6rem;
  font-weight: 300;
}
.main .offer__title {
  margin-bottom: 1em;
  font-size: 2.4rem;
}
.main .green {
  background-color: rgb(102, 239, 118);
  -webkit-box-shadow: 0 0 5px rgb(102, 239, 118);
          box-shadow: 0 0 5px rgb(102, 239, 118);
}

@media (min-width: 768px) {
  .main .about-us-text h3 {
    margin-bottom: 1em;
    font-size: 3.6rem;
  }
  .main .about-us-text p {
    font-size: 2.2rem;
  }
  .main .offer__text {
    font-size: 2.6rem;
  }
  .main .offer__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .offer__box {
    width: 40%;
    margin: 2em;
  }
  .main .offer__box-title {
    font-size: 3.6rem;
    margin-bottom: 0.4em;
  }
  .main .offer__box-price {
    font-size: 4rem;
    margin-bottom: 0.6em;
  }
  .main .offer__box-option {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  .main .offer .two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .offer__icon {
    font-size: 6rem;
    margin-bottom: 2.6em;
  }
  .main .offer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .offer__link p {
    font-size: 1.8rem;
  }
  .main .offer__title {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .main .about-us-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .about-us-text {
    padding: 2em 3em;
    text-align: left;
  }
  .main .about-us-text h3 {
    font-size: 3rem;
  }
  .main .about-us-text p {
    margin-bottom: 2.6em;
    font-size: 1.8rem;
  }
  .main .about-us-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 50%;
    height: 80%;
  }
}
@media (min-width: 1200px) {
  .main .offer__box {
    width: 28%;
    margin: 2em;
  }
  .main .offer .two {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .main .offer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .offer__icon {
    font-size: 7rem;
  }
  .main .offer__links {
    width: 50%;
  }
  .main .offer__link {
    width: auto;
    text-align: left;
  }
}
.footer {
  padding: 3em 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #999;
}
.footer__text {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.shadow-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.section-title {
  padding: 1.6em 0;
  font-size: 3.6rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: 768px) {
  .section-title {
    padding: 1.6em 0;
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .section-title {
    padding: 2em 0;
  }
}